CORE-SITE.XML_fs.default.name=hdfs://namenode
CORE-SITE.XML_fs.defaultFS=hdfs://namenode

HDFS-SITE.XML_fs.fs.default.name=hdfs://namenode
HDFS-SITE.XML_fs.defaultFS=hdfs://namenode

HIVE-SITE.XML_javax.jdo.option.ConnectionURL=jdbc:postgresql://hive-metastore-postgresql/hive-metastore?ssl=false
HIVE-SITE.XML_javax.jdo.option.ConnectionDriverName=org.postgresql.Driver
HIVE-SITE.XML_javax.jdo.option.ConnectionUserName=postgres
HIVE-SITE.XML_javax.jdo.option.ConnectionPassword=phahMMMddd999h7uutheePighMMMdsdsdss
HIVE-SITE.XML_hive.server2.enable.doAs=false
HIVE-SITE.XML_hive.exec.local.scratchdir='/tmp/${user.name}'
HIVE-SITE.XML_hive.downloaded.resources.dir='/tmp/${user.name}'
HIVE-SITE.XML_datanucleus.autoCreateSchema=false
HIVE-SITE.XML_hive.metastore.warehouse.dir=/user/hive/warehouse
HDFS-SITE.XML_dfs.namenode.rpc-address=namenode:8020
HDFS-SITE.XML_dfs.replication=1
HDFS-SITE.XML_dfs.datanode.data.dir=file:///data/hdfs/datanode
HDFS-SITE.XML_dfs.namenode.name.dir=file:///data/hdfs/namenode
HDFS-SITE.XML_dfs.namenode.datanode.registration.ip-hostname-check=false

# https://hadoop.apache.org/docs/r3.1.2/hadoop-yarn/hadoop-yarn-common/yarn-default.xml
YARN-SITE.XML_yarn.nodemanager.aux-services=mapreduce_shuffle
YARN-SITE.XML_yarn.resourcemanager.hostname=resourcemanager
YARN-SITE.XML_yarn.resourcemanager.address=resourcemanager:8032
YARN-SITE.XML_yarn.resourcemanager.scheduler.address.rm1=resourcemanager:8030
YARN-SITE.XML_yarn.resourcemanager.resource-tracker.address=resourcemanager:8031
YARN-SITE.XML_yarn.application.classpath='/opt/hadoop/client/*:/opt/hadoop/etc/hadoop:/opt/hadoop/share/hadoop/common/lib/*:/opt/hadoop/share/hadoop/common/*:/opt/hadoop/share/hadoop/hdfs:/opt/hadoop/share/hadoop/hdfs/lib/*:/opt/hadoop/share/hadoop/hdfs/*:/opt/hadoop/share/hadoop/mapreduce/*:/opt/hadoop/share/hadoop/yarn:/opt/hadoop/share/hadoop/yarn/lib/*:/opt/hadoop/share/hadoop/yarn/*:/opt/hive/lib/*'